button {
  padding: 12px;
  border: 2px solid green;
  border-radius: 10px;
  background-color: #e8c080;
  margin: 10px;
}
html,
body,
#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
}
